@model ReflectionIT.Mvc.Paging.PagingList<ReryFood.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos</h1>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="Cliente" value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true">
        </span> Procurar
    </button>
</form>

<br />

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

Total de pedidos: @Model.TotalRecordCount

<p style="display:inline;float:right;margin:0;">
    <a asp-action="Create" style="text-decoration:none;" class="btn btn-light">Criar novo pedido</a>
</p>

<table class="table" style="background-color:rgba(63,63,63,0.2)">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEnviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEntregueEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoEnviado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoEntregueEm)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PedidoId">Detalhes</a> <br>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.PedidoId">Editar</a> <br>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PedidoId">Excluir</a> <br>
                </td>
            </tr>
        }
    </tbody>
</table>
